.vscode
*.sublime-project
*.sublime-workspace
.idea
dprint.json

*.exe
*.html
*.idx
htmldocs
docs
nbook

nimcache/

tests/tintops

nimble.develop
nimble.paths
nimbledeps
/config.nims

.monit.yml
.monit.docs.yml
