name: Run Benchmarks

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  benchmarks:
    uses: status-im/nimbus-common-workflow/.github/workflows/common.yml@main
    with:
      nim-versions: '["version-1-6", "version-2-0", "version-2-2", "devel"]'
      test-command: nimble bench
