name: Build Docs

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  docs:
    uses: status-im/nimbus-common-workflow/.github/workflows/docs.yml@main
    with:
      mdbook-version: "0.5"
      mdbook-preprocessors: >-
        [
          "mdbook-open-on-gh@3"
        ]
