name: Build Docs

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
  workflow_dispatch:

jobs:
  Docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: 2.2.6

      - name: Book
        run: nimble setupBook && nimble book

      - name: API docs
        run: nimble docs

      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
