name: Build Docs

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions-rs/install@v0.1
        with:
          crate: mdbook
          use-tool-cache: true
      - uses: actions-rs/install@v0.1
        with:
          crate: mdbook-toc
          use-tool-cache: true
      - uses: actions-rs/install@v0.1
        with:
          crate: mdbook-open-on-gh
          use-tool-cache: true
      - uses: actions-rs/install@v0.1
        with:
          crate: mdbook-admonish
          use-tool-cache: true

      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: 2.2.6

      - name: Build docs
        run: nimble docs

      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
