name: Docs

# This workflow builds documentation using mdBook and Nim,
# then publishes the resulting static files to GitHub Pages.

on:
  workflow_call:
    inputs:
      mdbook-version:
        description: "The version of mdBook to install (e.g., 0.4.36 or latest)"
        type: string
        default: "latest"
      mdbook-preprocessors:
        description: 'A JSON array string of preprocessors to install, e.g. ["mdbook-toc", "mdbook-admonish@1.20.0"]'
        type: string
        default: "[]"
      nim-version:
        description: "Nim version (stable, nightly, or a version number)"
        type: string
        default: "stable"
      publish-branch:
        description: "The branch to which the docs will be deployed"
        type: string
        default: "gh-pages"
      publish-dir:
        description: "The directory containing the generated HTML"
        type: string
        default: "./docs"
      docs-command:
        description: "The command to run to generate the docs"
        type: string
        default: "nimble docs"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docs:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup cargo-binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install mdBook
        run: |
          if [[ "${{ inputs.mdbook-version }}" == "latest" ]]; then
            cargo binstall mdbook -y
          else
            cargo binstall mdbook@${{ inputs.mdbook-version }} -y
          fi

      - name: Install mdBook Preprocessors
        if: ${{ inputs.mdbook-preprocessors != '[]' }}
        run: |
          echo '${{ inputs.mdbook-preprocessors }}' | jq -r '.[]' | xargs -I {} cargo binstall {} -y

      - name: Setup Nim
        uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: ${{ inputs.nim-version }}

      - name: Build docs
        run: ${{ inputs.docs-command }}

      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ inputs.publish-dir }}
          publish_branch: ${{ inputs.publish-branch }}
