name: Run Tests

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  tests:
    uses: status-im/nimbus-common-workflow/.github/workflows/common.yml@main
    with:
      nim-versions: '["version-2-0", "version-2-2"]'
      nimble-version: "0577c31f2b6b58ace61a03b6f8215e7daf4de726"
      test-command: |
        nimble --features:tests install -y
        nimble test
