name: Run Tests

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  tests:
    timeout-minutes: 30

    name: Nim ${{ matrix.nim-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        nim-version: ['1.6.20', '2.0.16', '2.2.6', 'devel']

    steps:
      - uses: actions/checkout@v6
      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: ${{ matrix.nim-version }}

      - run: nimble install -y nimble && nimble install -y

      - name: Run tests
        run: nimble test
