name: Run Tests

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  tests:
    - name: Setup Nimble
      uses: nim-lang/setup-nimble-action@v1
      with:
        nimble-version: "nightly"
        repo-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Run tests
      uses: status-im/nimbus-common-workflow/.github/workflows/common.yml@main
      with:
        nim-versions: '["version-2-2"]'
        test-command: |
          nimble install -y
          nimble test
